{% extends "base.html" %}

{% block content %}
  <h1>{{ os_name }}</h1>
  <h2>Filesystem</h2>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        {% set ns = namespace(cur_path=PurePath('/')) %}
        {% for part in fs_path.parts[:-1] %}
          {% set ns.cur_path = ns.cur_path / part %}
          {% set folder_name = part %}
          <!-- '/' should named 'Root' -->
          {% if part == '/' %}
            {% set folder_name = 'Root' %}
          {% endif %}
          <!-- handle special case with root -->
          {% if cur_path == PurePath('/') %}
            {% set cur_fs_path = None %}
          {% else %}
            {% set cur_fs_path = str(ns.cur_path) %}
          {% endif %}

          <li class="breadcrumb-item" aria-current="page">
          <a href="{{ url_for('os_view', os_name=os_name, fs_path=cur_fs_path) }}">
            {{ folder_name }}
          </a>
          </li>
        {% endfor %}
        <!-- Display active breadcrumb -->
        {% set folder_name = fs_path.name %}
        {% if folder_name == '' %}
            {% set folder_name = 'Root' %}
        {% endif %}
        <li class="breadcrumb-item active" aria-current="page">
          {{ folder_name }}
        </li>
      </ol>
    </nav>
    <ul class="list-group">
      {% for record in cursor %}
        {% if InodeType(record['child']['inode_type']) == InodeType.DIR %}
            <a href="{{ url_for('os_view', os_name=os_name, fs_path=fs_path / record['child']['name'] ) }}" class="list-group-item list-group-item-action">
            <i class="fas fa-folder-open"></i>
          {% else %}
              <a href="{{ url_for('os_view', os_name=os_name) }}" class="list-group-item list-group-item-action">
            <i class="far fa-file"></i>
        {% endif %}
        {{ record['child']['name'] }}</a>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
