<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {% endblock %}

    <title>Flask App</title>
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="navbar-nav">
          <a class="navbar-brand" href="{{ url_for('home_page') }}">OSWatcher</a>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home_page') }}">Home</a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- Your page content -->
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    {% endblock %}
  </body>
</html>